.titleview {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3em;
  font-family: "Modern", "Noto Sans CJK TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
}

.titleview * {
  padding-left: 1em;
}

.listbox {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  border: 1px #182da7e8 solid;
  border-radius: 0.5em;
  background-color: rgba(240, 248, 255, 0.51);
}

.listbox div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1em;
}

.listbox a,
.listbox input {
  flex-grow: 1;
  text-align: center;
  line-height: 2em;
  height: 2em;
  width: max-content;
}

.listbox div:hover {
  background-color: rgb(190, 190, 190);
}

input[type="button"] {
  height: 2.4em;
  width: 6em;
  border-radius: 0.7em;
  border: 1px rgb(8, 41, 157) solid;
  background-color: #0e1a61ba;
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
}

.center {
  display: flex;
  align-items: center;
  font-family: "Century", "Noto Sans CJK TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
}

.center svg {
  padding-left: 1em;
  margin-top: -8px;
}

body {
  background-image: url('https://images.pexels.com/photos/238118/pexels-photo-238118.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.122);
  background-blend-mode: multiply;
}